.game-intro-container {
    height: 100vh;
    position: relative
}
.ant-man {
    padding: 0;
    margin: 0;
    background: url("../images/Ant-Man.png") no-repeat -527px -16px;
    height: 257px;
    width: 263px;
    position: absolute;
    bottom: 0;
}

.instructions {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: medium;
    line-height: 2em;
    padding: 50px 10px 0 10px;
    letter-spacing: 0.1em;
}

.press-play {
    text-align: center;
    padding-top: 20px;
}

.play-button {
    color: white;
    font-family: sans-serif;
    letter-spacing: 0.15em;
    font-size: 2em;
}

@media only screen and (max-width: 500px) {
    .instructions {
        line-height: 1.5em;
    }
    .ant-man {
        height: 200px;
    }
}

@media only screen and (max-width: 300px), (max-height: 600px) {
    .ant-man {
        display: none;
    }
}