.game-page {
    padding-top: 50px;
}

.board {
    height: 400px;
    width: 600px;
    margin: auto;
    position: relative;
    // background-color: rgba(gray, 0.5);
    display: none;
}

.hero {
    padding: 0;
    margin: 0;
    background: url("../images/Ant-Man.png") no-repeat -144px -281px;
    background-size: 678px 493px;
    height: 85px;
    width: 88px;
 
    position: absolute;
    z-index: 2;
    
}

.enemy {
    padding: 0;
    margin: 0;
    left: 550px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: blue;
    position: absolute;
    z-index: 3;

}

 .projectile {
    border-radius: 50%;
    background-color: white;
    width: 10px;
    height: 10px;
    z-index: 3;
    position: absolute;
} 

.no-game {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: large;
    margin-top: 150px;
    display: none;
    padding: 0 10px;
    display: block;
}

:focus {
    outline: none;
}

// game disappears when the window size is too small 
@media only screen and (min-width: 600px) and (min-height: 500px) {
    .board {
        display: flex;
        width: 600px;
    }

    .no-game {
        display: none;
    }

    .enemy {
        left: 550px;
    }
}