.landing {
    position: relative;
    display: flex;
    height: calc(100vh - 80px);
}


.game-option, .marvel-option{
    text-align: center;
    background-color: rgba(#222, 0.55);
    padding: 10px 10px;
    height: 100px;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    border-radius: 3px;
}



.landing-text {
    color: whitesmoke;
    font-size: large;
    font-family: sans-serif;
    padding-bottom: 20px;
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background: rgba(255,255,255,0.0);
  border-radius: 5px;
  display: block;
}

/* BUTTONS*/


.btn {
    border: 2px solid #333;
    border-radius: 2px;
    padding: 3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    a {
        color: white;
        padding: 0 5px;
    }
}

.marvel-search {
    background-color: #f44336;
}

.play-game {
    background-color: #008cba;
}

.marvel-search:hover {
    background-color: rgba(#222, 0.10);
    border: 2px solid #f44336;
}

.play-game:hover {
    background-color: rgba(#222, 0.10);
    border: 2px solid #008cba;
}

/* SHOOTING STAR */

.shooting-star {
    position: absolute;
    background-color: white;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    top: -35px;
    left: 20px;
    animation: shootingStar 12s linear infinite;
}

/*   HIDDEN LINK TO RON SWANSON PAGE */
.easter-egg {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 5vh;
    left: 75vw;
    display: block;
    cursor: pointer;
}

/*  TWINKLING STAR ANIMATION*/
@keyframes twinkle {
  0% {
    transform: scale(1, 1);
    background: rgba(255,255,255,0.0);
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(0.8, 0.8);
    background: rgba(255,255,255,1);
    animation-timing-function: ease-out;
  }
  100% {
    background: rgba(255,255,255,0.0);
    transform: scale(1, 1);
  }
}

/* SHOOTING STAR ANIMATION*/
@keyframes shootingStar {
    0% {
        left: 0;
    }
    15% { //stop at 15% so there is a delay before the shooting star resets
        left: 500px;
        top: 100px;
        visibility: hidden;
    }
    100% { 
        left: 500px;
        top: 100px;
        visibility: hidden;
    }
}


/*   STARS AND RON SWANSON EASTER EGG LINK DISAPPEAR*/
@media only screen and (max-width: 700px), (max-height: 550px) {
    .star {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .landing {
        flex-direction: column;
    }

    .game-option, .marvel-option {
        margin-top: 50px;
    }

}

@media only screen and (max-width: 500px) {
    .easter-egg {
        display: none;
    }

    .shooting-star {
        display: none;
    }

    .landing-text{
        font-size: 1em;
        padding-bottom: 10px;
    }
}